@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
	margin:0px;	
	background-color: #f1f1f1;
}
#Mainpicture {
	height: 70px;
}
header{
	width:100%;
	background-color: #1F1B24;
	padding:30px 0px;
	text-align: center;
}
header ul{margin:0px;}
header ul li{display:inline;margin-right:20px;}
header ul li a{
	color:#fff;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	font-family: "Roboto", sans-serif;
}
header ul li a:hover{
	color:#e74c3c;
	transition: all 0.3s ease-in-out;
}

/*Slider*/
.slider{
	background-image: url('../images/slider.jpg');
	background-size: cover;
	background-position: bottom;
	text-align: center;
	padding:100px 50px;
	color: #D84315;
	font-family: "Roboto", sans-serif;
	/* z-index: 0; */
}

#mainpage{
	margin-top: 20px;
}

#sendButton:hover{
background-color: darkgreen;
}

.aboutDiv_solo {
	text-align: center;
}
 
.main{
	position: relative;
	width:1200px;
	margin:auto;
	top:40px;
	background-color: #fff;
	display: flex;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.main div.aboutDiv{
	width:50%;
	font-family: "Roboto", sans-serif;
	color:#000;
}
.main div.cardBox{
	width:100%;
	font-family: "Roboto", sans-serif;
	color:#000;
	padding:20px;
}

/*BreadCrumb*/
.breadcrumb {
	color: white;
}
.breadcrumb ul{padding: 0px;list-style-type: none}
.breadcrumb ul li{
	display: inline;
	font-size: 20px;
}
.breadcrumb ul li::after{
	content: ' >'
}
.breadcrumb ul li:nth-last-child(1)::after{
	content: ''
}

/*Content*/
.content{
	display: flex;
	flex-wrap: wrap;
}
.box{
	flex: 0 0 30%;
	box-sizing: border-box;
	padding: 10px;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Schwarzer Schatten */

}
.box a{
	color:#000;
	text-decoration: none;
}
.contentBox{
	justify-content: space-around;
	border:1px solid #fafafa;
	border-radius: 10px;
	padding: 5px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
.contentBox img{
	height: 250px;
	width: 100%;
	object-fit: cover;
}

/*Contact*/
.contact .form-group{width: 100%;display: block;margin-bottom: 10px;}
.contact .form-group input,.contact .form-group textarea{
	width: 100%;
	height: 30px;
	border:1px solid #f1f1f1;
}
.contact .form-group textarea{height: 100px;}
.contact .form-group label{font-family: "Roboto", sans-serif;font-weight: bold;}
.contact .form-group button{width:100%;padding: 13px;border:0px;background-color: #28a745;color:#fff;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;}

/*Footer*/
footer{
	background-color: #1F1B24;
	text-align: center;
	margin-top: 100px;
	padding:10px;
	font-family: "Roboto", sans-serif;
	color:#fff;
}
footer ul{padding:0px;}
footer ul li{display: inline;margin-right: 20px;}
footer ul li a{color:#fff;font-size:20px;}


/* Responsive */
@media only screen and (max-width: 1210px) {
	.main{width:90%;display:block;padding:20px !important;}
	.main iframe{width:100%;height:200px;}
	.main div.aboutDiv,.main div.cardBox{width:100%;padding:0px !important;}
	.imageDiv{display:none !important;}
	.content .box{flex:0 0 50%}
}


@media only screen and (max-width: 791px) {
	.content .box{flex:0 0 100%}
}
