@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0px;
    background-color: #f1f1f1;
}

#Mainpicture {
    height: 70px;
}

header {
    width: 100%;
    background-color: #1F1B24;
    padding: 30px 0px;
    text-align: center;
}

header ul {
    margin: 0px;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-family: "Roboto", sans-serif;
}

header ul li a:hover {
    color: #e74c3c;
    transition: all 0.3s ease-in-out;
}

/* Slider */
.slider {
    background-image: url('../images/slider.jpg');
    background-size: cover;
    background-position: bottom;
    text-align: center;
    padding: 100px 50px;
    color: #D84315;
    font-family: "Roboto", sans-serif;
    /* z-index: 0; */
}

#mainpage {
    margin-top: 20px;
}

#sendButton:hover {
    background-color: darkgreen;
}

.aboutDiv_solo {
    text-align: center;
}

.main {
    position: relative;
    width: 1200px;
    margin: auto;
    top: 40px;
    background-color: #fff;
    display: flex;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.main div.aboutDiv {
    width: 50%;
    font-family: "Roboto", sans-serif;
    color: #000;
}

.main div.cardBox {
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: #000;
    padding: 20px;
}

/* BreadCrumb */
.breadcrumb {
    color: white;
}

.breadcrumb ul {
    padding: 0px;
    list-style-type: none;
}

.breadcrumb ul li {
    display: inline;
    font-size: 20px;
}

.breadcrumb ul li::after {
    content: ' >'
}

.breadcrumb ul li:nth-last-child(1)::after {
    content: ''
}

/* Content */
.content {
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 0 0 30%;
    box-sizing: border-box;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5); /* Schwarzer Schatten */
}

.box a {
    color: #000;
    text-decoration: none;
}

.contentBox {
    justify-content: space-around;
    border: 1px solid #fafafa;
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.contentBox img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

/* Contact Form Styling */
.contact {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Roboto", sans-serif;
}

.contact .form-group {
    width: 100%;
    display: block;
    margin-bottom: 20px;
}

.contact .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

.contact .form-group input[type="text"],
.contact .form-group input[type="tel"],
.contact .form-group input[type="email"],
.contact .form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
    box-sizing: border-box;
}
.contact .form-group textarea{
	max-height: 150px;
	min-height: 30px;
}

.contact .form-group input[type="text"]:focus,
.contact .form-group input[type="tel"]:focus,
.contact .form-group input[type="email"]:focus,
.contact .form-group textarea:focus {
    border-color: #007bff;
    outline: none;
}

.contact .form-group textarea {
    resize: vertical;
    height: 100px;
}

.contact .form-group button {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

#sendButton:hover {
    background-color: darkgreen;
}

/* Footer */
footer {
    background-color: #1F1B24;
    text-align: center;
    margin-top: 100px;
    padding: 10px;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

footer ul {
    padding: 0px;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    color: #fff;
    font-size: 20px;
}

/* Outer container styling */
.outer-container {
    display: flex;
    padding: 20px;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* Main grid items */
.grid-item {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Anpassung des Grids für kleinere Bildschirme */
@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: 1fr 1fr; /* Zwei Spalten */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* Eine Spalte */
    }
}

/* Responsive */
@media only screen and (max-width: 1210px) {
    .main {
        width: 90%;
        display: block;
        padding: 20px !important;
    }
    .main iframe {
        width: 100%;
        height: 200px;
    }
    .main div.aboutDiv,
    .main div.cardBox {
        width: 100%;
        padding: 0px !important;
    }
    .imageDiv {
        display: none !important;
    }
    .content .box {
        flex: 0 0 50%;
    }
}

@media only screen and (max-width: 791px) {
    .content .box {
        flex: 0 0 100%;
    }
}

/* Styles für rot umrandete Felder bei Fehler */
.error-border {
    border: 2px solid red !important; /* Füge !important hinzu, um sicherzustellen, dass die Regel angewendet wird */
}

.error-message {
    font-size: 0.9em;
    color: red;
    margin-top: 5px;
}

/*Styling Impressum*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

.impressum-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #444;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.section h3 {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

p {
    margin: 10px 0;
    font-size: 1em;
    color: #666;
}

@media (max-width: 600px) {
    .impressum-container {
        padding: 15px;
    }
    h1 {
        font-size: 1.8em;
    }
    .section h2, .section h3 {
        font-size: 1.3em;
    }
    p {
        font-size: 0.9em;
    }
}


